/*         Onur IŞIK      */

.GameStart{
    margin-top: 25px;
    width: 100vw;
    height: 80vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: blueviolet;
    
}

.GameStart__box{
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    color: blue;
    font-size: 35px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 25px;
    animation: fadeIn 3s infinite;
    
}

@keyframes fadeIn {
    0% { opacity: 0.6; }
    100% { opacity: 0.9; }
  }
  

.GameStart__h1{

    margin-bottom: 5px;
    font-weight: bold;
    font-size: 55px;
}

.GameStart__p{

    font-size: 20px;
    font-weight: bold;

}

.GameStart__button{

    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    border: none;
    background-color: yellow;
}

.GameStart__button:hover{

    background-color: white;
    
}

/*        Onur IŞIK         */